[submodule "merlin2_arch/merlin2_reactive_layer/ros2_speech_recognition"]
	path = merlin2_arch/merlin2_reactive_layer/ros2_speech_recognition
	url = ssh://git@niebla.unileon.es:5022/mgonzs/ros2_speech_recognition.git
	branch = master
[submodule "merlin2_arch/merlin2_reactive_layer/ros2_text_to_speech"]
	path = merlin2_arch/merlin2_reactive_layer/ros2_text_to_speech
	url = ssh://git@niebla.unileon.es:5022/mgonzs/ros2_text_to_speech.git
	branch = master
[submodule "merlin2_arch/merlin2_reactive_layer/ros2_topological_nav"]
	path = merlin2_arch/merlin2_reactive_layer/ros2_topological_nav
	url = ssh://git@niebla.unileon.es:5022/mgonzs/ros2_topological_nav.git
	branch = master
[submodule "yasmin"]
	path = yasmin
	url = ssh://git@niebla.unileon.es:5022/mgonzs/yasmin.git
	branch = master
[submodule "simple_node"]
	path = simple_node
	url = ssh://git@niebla.unileon.es:5022/mgonzs/simple_node.git
	branch = master
[submodule "knowledge_management"]
	path = knowledge_management
	url = ssh://git@niebla.unileon.es:5022/mgonzs/knowledge_management.git
	branch = master
