[submodule "merlin2_arch/merlin2_reactive_layer/speech_to_text"]
	path = merlin2_arch/merlin2_reactive_layer/speech_to_text
	url = ssh://git@niebla.unileon.es:5022/mgonzs/speech_to_text.git
	branch = master
[submodule "merlin2_arch/merlin2_reactive_layer/text_to_speech"]
	path = merlin2_arch/merlin2_reactive_layer/text_to_speech
	url = ssh://git@niebla.unileon.es:5022/mgonzs/text_to_speech.git
	branch = master
[submodule "merlin2_arch/merlin2_reactive_layer/topological_nav"]
	path = merlin2_arch/merlin2_reactive_layer/topological_nav
	url = ssh://git@niebla.unileon.es:5022/mgonzs/topological_nav.git
	branch = master
[submodule "yasmin"]
	path = yasmin
	url = ssh://git@niebla.unileon.es:5022/mgonzs/yasmin.git
	branch = master
[submodule "simple_node"]
	path = simple_node
	url = ssh://git@niebla.unileon.es:5022/mgonzs/simple_node.git
	branch = master
[submodule "kant"]
	path = kant
	url = ssh://git@niebla.unileon.es:5022/mgonzs/kant.git
	branch = master
