# demos
tqdm

# yasmin
flask
waitress
expiringdict

# kant
mongoengine 
dnspython

# stt
pyaudio
SpeechRecognition
google-cloud-speech
wheel
pocketsphinx==0.1.15
nltk
contractions
TextSearch
pyparsing
pyjsgf

# tts
gTTS

# sound recognition
resampy 
tensorflow 
soundfile 
librosa 
